body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #007acc;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #007acc;
}

a:hover {
  text-decoration: underline;
}

h2 {
  color: #007acc;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

/* index.html 스타일 */
.search-section {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.search-section input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-section button {
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-section button:hover {
  background-color: #005f99;
}

/* search_results.html 스타일 */
.search-results {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.search-results h2 {
  margin-bottom: 20px;
  text-align: center;
}

.search-results ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.search-results li {
  width: 200px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.search-results li h3 {
  font-size: 1.1em;
  margin: 10px 0;
  color: #333;
}

/* movie_details.html 스타일 */
#movie-detail {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#movie-detail img {
  margin-bottom: 20px;
}

#movie-detail h2 {
  text-align: center;
  color: #007acc;
}

#movie-detail p {
  margin: 10px 0;
  font-size: 1.1em;
  color: red;
}

#movie-detail a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#movie-detail a:hover {
  background-color: #005f99;
}
